.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;}

.w-100 {
    width: 100%!important;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
}

.h5, h5 {
    font-size: 1.25rem;
}


.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}