.general_info_image
{
	width: 473px;
	height: 1000px;
}
p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 1.85714;
	font-weight: 500;
	color: #red;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-align: center;
}
.loader_title
{
	font-size: 20px;
	font-weight: 700;
	color: #100f3a;
	text-transform: uppercase;
	line-height: 0.75;
}
.loader_subtitle
{
	font-size: 18px;
	font-weight: 500;
	color: #7a798c;
	margin-top: 12px;
}
.main_content
{
	width: calc(100% - 473px);
	height: 100%;
	padding-left: 82px;
	padding-right: 30px;
	justify-content: center;
}
.main_title_container
{
	width: 100%;
	height: 193px;
	text-align: center;
}
.main_title
{
	font-size: 52px;
	font-weight: 800;
	color: #100f3a;
	line-height: 0.75;
	
	text-align: center;
	margin-bottom: 30px;
}
.main_content_scroll
{
	margin-top: 40px;
	max-height: calc(100% - 193px - 72px - 30px);
	align-items: flex-start;
	justify-content: center;
	margin-right: 15px;
	margin-left: 15px;
	padding-right: 8px;
	padding-left: 8px;
}
.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 97px;
	background: #FFFFFF;
	padding-top: 38px;
	padding-bottom: 50px;
	padding-left: 40px;
	z-index: 10;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}