

.general_info_title
{
	font-size: 25px;
	font-weight: 600;
	color: #000000;
	line-height: 1.2;
	text-transform: uppercase;
}

.main_title_container
{
	width: 100%;
}

.main_title
{
	font-size: 30px;
	font-weight: 800;
	color: #100f3a;
	line-height: 1;
}

.about_title
{
	font-size: 20px;
	font-weight: 700;
	color: #100f3a;
	text-transform: uppercase;
}

.about_text {
	margin: 0;
}
.main_content_scroll{
	margin-top: 30px;
}

.main_subtitle
{
	font-size: 20px;
}

.general_info_text{
	font-size: 16px;
}

.general_info_text span {
    color: #000;
}

.background_image{
	background-size: contain;
}

.color-label{
	height: 30px;
	width: 30px;
	background: #000;
	margin-right: 15px;
	color:#f0f0f0;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.color-label.green{	background: #92d36e;	}
.color-label.red {	background: #e93578;	}
.color-label.grey{	background: #c0c0c0;	}
.color-label.blue{	background: #3b83bd;	}

.comments-container {
	margin: 60px auto 15px;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -55px;
}

.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	/*z-index: 99;*/
	float: left;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}
.comment-main-level{
	width: initial;
}
.comment-main-level:after {
	content: '';
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width:80%;
	margin: 0;
	position: relative;
	float: right;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	margin: 0 0 0 80px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #100f3a;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #100f3a;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 13px;
	color: #595959;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #100f3a;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
}

.social_container li{
	display: inline;
}

.social_container img{
	opacity: 0.3;
}

.social_container img:hover{
	opacity: 0.6;
}

.copyright {
	padding: 20px;
}

.main_content_outer {
	display: grid;
}
.general_info{
	grid-row-start: 1;
	grid-column-start: 1;
}
.main_content{
	width: auto;
	grid-row-start: 1;
	grid-column-start: 2;
}
.form-container {
	text-align: center;
	margin: 50px 0 100px 0;
}
  
.comment-form {
    resize: none;
    overflow: hidden;
    height: 41px;
    width: 70%;
	padding: 10px;
	border: 0;
}

.comment-button {
	
	display: inline-block;
	border: 0;
	padding: 10px;
	color: #000;
}